@font-face {
    font-family: 'Al-Font';
    src: url('/assets/alfont_com_AlFont_com_din-next-lt-w23-bold (1).ttf') format('Alfont');
}

/* Essentials */
*{
    padding: 0;
    margin: 0;
    font-family: 'Al-Font', sans-serif;
}


html{
    width: 100svw;
    height: 100%;
    min-height: 100vh;
}

body{
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-center {
    text-align: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.lang-btn {
    position: absolute;
    top: 0.8rem;
    z-index: 10;
    right: 1rem;
    background: transparent;
    border: none;
    padding: 5px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
}

section {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: auto;
}

.form{
    padding: 0.5rem 1rem;
    gap: 1rem;
    height: 100%;
}

.welcome-text{
    font-size: 1.2rem;
}

.content {
    height: 90%;
    gap: 1.5rem;
}

.submit-btn{
    width: 100%;
    background: rgba(114, 180, 62, 1);
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
}

.welcome-text {
    font-size: 1.1rem;
}

.info{
    font-size: 2rem;
}

.phone, .submit-btn{
    border-radius:  10px;
    font-size: 1.2rem !important;
}

.phone {
    border: 2px white solid;
    flex-direction: row;
    padding: 1rem ;
}

.phone > p {
    padding-right: 1rem;
}

.phone > input {
    width: 100%;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 1.2rem !important;
}

.digit-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.digit-group
input {
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px white solid;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 0.3rem;
    outline: none;
}

.input-nb[type="number"]::-webkit-inner-spin-button,
.input-nb[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.instructions {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem 0;
    gap: 0.8rem;
    line-height: 1;
}
